.Welcome {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.IconsDiv{
  margin-left:0px;
}

div.iconsLeft{
  margin-left:0px;
  padding:0px;
}
.glyphicon:hover{
  background-color:red;
}
.CompTitle{
  margin-top:40px;
  font-size: 35px;
}
.VideosDiv, .ContactParagraphs, .PicturesParagraphs, .CalendarParagraphs{
  font-size:25px;
}

.videos-paragraphs{
  cursor: grab;
  
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
